.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.banner {
  width: 100%; /* Banner ka width container ke hisaab se set hoga */
  height: 250px; /* Aap chahein to height set kar sakte hain, yahan 400px rakha hai */
  object-fit: cover; /* Image ko container ke andar fit karne ke liye, aspect ratio ko preserve karte hue */
}
.banner img {
  width: 100%;  /* Image ko full width mein stretch karne ke liye */
  height: 80%; /* Height ko bhi container ke hisaab se set karne ke liye */
  object-fit: cover;  /* Image ko container ke andar fit karne ke liye */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
