.App {
  text-align: center;
}

.banner {
  width: 100%; /* Banner ka width container ke hisaab se set hoga */
  height: 250px; /* Aap chahein to height set kar sakte hain, yahan 400px rakha hai */
  object-fit: cover; /* Image ko container ke andar fit karne ke liye, aspect ratio ko preserve karte hue */
}
.banner img {
  width: 100%;  /* Image ko full width mein stretch karne ke liye */
  height: 80%; /* Height ko bhi container ke hisaab se set karne ke liye */
  object-fit: cover;  /* Image ko container ke andar fit karne ke liye */
}


